#genSpalding
	<!-- ko with: appScript -->
		i.chevron.left.icon.spaldingHomeButton(data-bind="click: () => {backToMain()}")
		.spaldingMobileHeader
			.spaldingMobileUpper
				.spaldingMobileMenu
					<!-- ko if: mobileOpen -->
					img.spaldingMobileIcon(src="./images/spalding/close_menu.svg" data-bind="click: () => {mobileOpen(false)}")
					<!-- /ko -->
					<!-- ko ifnot: mobileOpen -->
					img.spaldingMobileIcon(src="./images/spalding/menu.svg" data-bind="click: () => {mobileOpen(true)}")
					<!-- /ko -->
				img.spaldingLogo(src="./images/spalding/spalding_logo.png")
		.spaldingMobileNavigation(data-bind="foreach: ['HOME','ABOUT','WATCH','LISTEN','READ'], style: {'transform': mobileOpen() ? 'scaleY(1)' : 'scaleY(0)'}")
			.spaldingMobileLink(data-bind="text: $data, click: () => {$parent.selectedPage($data); document.getElementById($data).scrollIntoView({behavior: 'smooth'}); $parent.mobileOpen(false)}, style: {'background-color': $parent.selectedPage() === $data ? 'rgb(15, 14, 23)' : 'ghostwhite', 'color': $parent.selectedPage() === $data ? 'ghostwhite' : 'rgb(15, 14, 23)'}")
		.spaldingDesktopHeader
			img.spaldingLogo(src="/images/spalding/spalding_logo.png")
			.spaldingNavigation
				<!-- ko foreach: ['HOME', 'ABOUT', 'WATCH', 'READ'] -->
				.spaldingLink(data-bind="text: $data, click: () => {$parent.selectedPage($data); document.getElementById($data).scrollIntoView({behavior: 'smooth'})}, style: {'border': $parent.selectedPage() === $data ? '3px solid white' : '3px solid transparent'}")
				<!-- /ko -->
		section.spaldingHome#HOME
			.spaldingHomeContent
				img.spaldingBook(src="./images/spalding/stealth_war.jpg")
				.spaldingBookDesc
					p="\"China expert Robert Spalding reveals the shocking success China has had infiltrating American institutions and compromising our national security.\""
				img.generalSpalding(src='./images/spalding/robert_spalding.png')
		section.spaldingAbout#ABOUT
			.spaldingAboutInner
				.spaldingAboutLeft
					h2.spaldingAboutText()="\"I AM A NATIONAL SECURITY EXPERT AND PATRIOT ENTREPRENEUR IDENTIFYING THREATS TO OUR SECURITY, ECONOMY, AND WAY OF LIFE."
					h2.spaldingAboutText(style="font-size: 1.2rem;")="I AM COMMITTED TO BRINGING JOBS BACK TO THE USA BY RESTORING AMERICAN MANUFACTURING AND SECURING OUR MOST CRITICAL RESOURCE - DATA.\""
					h2.spaldingAboutText(style="font-size: 1.2rem;")="-GENERAL SPALDING"
					h2.spaldingAboutText.spaldingAboutTitle="ABOUT"
					p.spaldingAboutDesc="General Spalding has served in senior positions of strategy and diplomacy within the Defense and State Departments for more than 26 years, retiring as a brigadier general. He was the chief architect for the Trump Administration’s widely praised National Security Strategy (NSS), and the Senior Director for Strategy to the President at the National Security Council."
				.spaldingAboutRight
					img.spaldingAsSeenOn(src="./images/spalding/spalding_asSeenOn.png")
					<!-- ko if: showTwitterObjResult() -->
					.twitterTimeObj(style="background-color: ghostwhite; padding: 0 20px; flex: 1; overflow: auto; height: 30rem; max-height: 30rem; width: 100%; margin-top: 1rem" data-bind = "template: { name: 'twitterAccountObj', data: twitterObj }")
					<!-- /ko -->
					<!-- ko if: !showTwitterObjResult() -->
					.ui.segment(style="height: 30rem !important; width: 100% !important; margin-top: 1rem !important;")
						.ui.active.dimmer
							.ui.text.loader='Fetching Twitter...'
						p
					<!-- /ko -->
					//- .spaldingTwitter
					//- 	.spaldingTwitterHeader
					//- 		h2="Tweets"
					//- 		p(style="margin-left: 10px; margin-bottom: 2.5px; font-size: 13px;")="by @robert_spalding"
					//- 	.spaldingTwitterTweets(data-bind="foreach: {data: tweetTimeline, as: 'tweet'}")
					//- 		.spaldingTweets
					//- 			img.spaldingTwitterProfile(src='./images/spalding/robert_spalding_twitter.jpg')
					//- 			.spaldingTwitterContent
					//- 				.spaldingTwitterName
					//- 					h4(style="font-family: 'Rajdhani-SemiBold'")="General Spalding"
					//- 					p(style="font-size: 13px; color: grey")="@robert_spalding"
					//- 				.spaldingTwitterText
					//- 					p(data-bind="text: tweet.full_text", style="font-size: 20px")
		section.spaldingWatch#WATCH
			.spaldingSectionContent
				h2.spaldingSectionTitle="Watch"
				.spaldingVideoContainer
					ul.videoCarouselMain(data-bind="foreach: videoList")
						li.spaldingSelectedItemWrapper
							img.spaldingSelectedVideo(data-bind="attr: {'src': './images/spalding/video/' + $data.image, 'id': $data.image}")
					.videoCarouselNavigation
						img.carouselNavigation(src="./images/spalding/left-arrow.svg" data-bind="click: () => {navigateCarousel('previous')}")
						img.carouselNavigation(src="./images/spalding/right-arrow.svg" data-bind="click: () => {navigateCarousel('next')}")
					.videoDownloadSelection()
						<!-- ko if: videoList()[selectedIndex()].audio -->
							span( data-bind = "template: { name: 'ajaxLableButton', data: videoList()[selectedIndex()].audio }")
						<!-- /ko -->
						<!-- ko if: videoList()[selectedIndex()].video480 -->
							span( data-bind = "template: { name: 'ajaxLableButton', data: videoList()[selectedIndex()].video480 }")
						<!-- /ko -->

						<!-- ko if: videoList()[selectedIndex()].video720 -->
							span( data-bind = "template: { name: 'ajaxLableButton', data: videoList()[selectedIndex()].video720 }")
						<!-- /ko -->
				ul.videoCarousel(data-bind="foreach: videoList()")
					li.videoCarouselItem(data-bind="attr: {'id': 'carouselItem ' + $index()},click: () => {$parent.selectedIndex($index())}")
						img.videoCarouselItemImage(data-bind="attr: {'src': './images/spalding/video/' + $data.image}")
		//- section.spaldingListen#LISTEN
		//- 	.spaldingSectionContent
		//- 		h2.spaldingSectionTitle="Listen"
		section.spaldingRead#READ
			.spaldingSectionContent
				h2.spaldingSectionTitle="Read"
				img.spaldingReadBanner(src="./images/spalding/read_banner.png")
		footer.spaldingFooter
			p="Copyright © 2020 General Spalding. All rights reserved."
			.spaldingKloak
				img.spaldingKloakLogo(src="./images/spalding/kloak_logo.svg")
				p(style="margin-left: 10px;")="Hosted on Kloak Platform."
	<!-- /ko -->